body {
	position: fixed;
	inset: 0;
	display: grid;
	transition: 400ms;
	overflow: hidden;
}

body * {
	overflow: inherit;
}

@media screen and (orientation: portrait) {
	body {
		grid-template:
			'input-section' 1fr
			'output-section' 1fr
			'footer-section' auto
			/ 1fr
		;
	}
}

@media screen and (orientation: landscape) {
	body {
		grid-template:
			'input-section output-section' 1fr
			'footer-section footer-section' auto
			/ 1fr 1fr
		;
	}
}

div.-input-side {
	grid-area: input-section;
	display: grid;
	grid-template-rows: 1fr auto;
}

div.-output-side {
	grid-area: output-section;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

div.-controls-section {
	justify-content: space-between;
}

input#toggle-compile ~ label[for="toggle-compile"] {
	background-color: var(--color-highlight);
	transition: 0.2s;
}

input#toggle-compile ~ label[for="toggle-compile"]::before {
	content: "Compile";
}

input#toggle-compile:checked ~ label[for="toggle-compile"] {
	background-color: var(--color-error);
	transition: 0.2s;
}

input#toggle-compile:checked ~ label[for="toggle-compile"]::before {
	content: "Decompile";
}

#instructions-field,
#tape-field,
#logs-field {
	font-family: 'Consolas', 'Cascadia Mono Light', monospace !important;
	overflow: auto auto;
	text-wrap: nowrap;
	tab-size: 2;
}

#instructions-field:focus,
#tape-field:focus {
	outline-style: solid;
	outline-color: var(--color-highlight);
}

input#toggle-compile:not(:checked) ~ button#toggle-log,
input#toggle-compile:disabled ~ button#toggle-log {
	display: none !important;
}

footer {
	grid-area: footer-section;
}